

.section-wrapper {
  width: 100%;
  /* border: 1px solid; */
}
.section-head {
  position: relative;
  display: flex;
  gap: 20px;
  padding: 15px 2px;
}

.section-title {
  font-size: 1.1rem;
  font-weight: 600;
}

.section-desc {
  color: grey;
}

.section-content {
  display: flex;
  flex-direction: column;  
  gap: 2.2rem;
}

.action-button {
  font-size: 1rem;
  color: #2b91ef;
  position: absolute;
  right: 0;
  font-weight: 600;
}